<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <div class="GST"><strong>GST PRE ASSESMENT &nbsp;(ASSESMENT 15601)</strong></div>
  
 <ul class="main-nav">
 <li><img src="assets/images/Recording.png" alt="record-image" class="icon"><a href="#"><strong>Record Video</strong></a></li> 
 <li><img src="assets/images/exit_icon.png" alt="exit-image" class="icon"><a href="#"><strong>Exit</strong></a></li>     
 </ul>        
     
 
 </div>

 
 <app-whiteboard></app-whiteboard>
